# Copia este archivo a .env y ajusta los valores segun necesites.
MYSQL_ROOT_PASSWORD=rootpass
DB_NAME=veterinaria
DB_USER=vetuser
DB_PASSWORD=vetpass

# Seguridad / JWT
JWT_SECRET=cambiestaclaveultrasecretaparadesarrollo1234567890
JWT_EXP_MIN=120

# Usuario administrador inicial (seed)
ADMIN_EMAIL=admin@vet.com
ADMIN_PASSWORD=admin123
